:root{
  --burnt-orange: #ff7034;
  --bg-primary: #fffff0;
  --bg-secondary: #a49e9e;
  --bg-light: #fff44f;
  --base-font: 1rem;
  --fong-md: 1.5rem;
  --font-lg: 4.5rem;
}

main > .write-up{
    width: 50%;
}

main >.write-up > h2{
    color: var(--burnt-orange);
    padding: 15px 25px;
    font-size: 4.5rem;
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
main >.write-up> p{
    padding: 15px 25px;
    font-size: 2rem;
}

main > .video-coverage{
    width: 45%;
    height: 700px;
    flex: 1;
}

.video-coverage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-pack-image{
    margin-top: 100px;
    width: 80%;
    height: 500px;
    position: relative;
    margin:10px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.img{
    width: 350px;
    height: 400px;
    background: #ccc;
    /* transform: rotate(45deg); */
    transition: transform 1s ease-in-out;

}
.img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between service boxes */
  margin: 30px auto;
  width: 80%;

}

.service {
  flex: 1 1 calc(50% - 20px); /* Two per row with gap */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.service h3{
  font-size:3rem;
  color: var(--burnt-orange);
  
}

.bot{
  margin-bottom: 20px;
}
.service p{
  font-size:2rem;
  color:#fff;

}
.service ul{
  list-style-type: none;
  margin-top: 20px;

}
.service ul li{
  padding-top: 10px;
}
/* Optional: Style buttons */
.btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: var(--burnt-orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: var(--burnt-orange);
}

section{
    width:100%;
    margin-top: 50px;
}

section h1{
    text-align: center;
    width: 100%;
    /* padding:20px; */
    color: var(--burnt-orange);
    font-size: 4.5rem;
}
.food-pack-theme{
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.food-pack-benefit{
    width: 45%;
    margin-left: 30px;
}

.food-pack-benefit > h2{
    font-size: 4.5rem;
    color:var(--burnt-orange);
    padding: 10px;
    text-align: center;
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
.food-pack-benefit > p, span{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}
.food-pack-benefit > span > a{
    font-size: 2rem;
    color: var(--burnt-orange);
}
.food-pack-benefit > ul{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.food-pack-benefit ul > li{
   padding: 10px;
   font-size: 2rem;
  background-color: var(--burnt-orange);
  color:#fff;
  margin-left: 7px;
  border-radius: 10px;
}

.line{
    width: 2px;
    border: 3px solid var(--bg-secondary);
    height: 400px;
}
.food-pack-content{
    width: 45%;
    margin-right: 30px;
    background-color: var(--bg-secondary);
}

.food-pack-content > h3{
   font-size: 3rem;
   padding: 10px;
   color: #fff;
}

.food-pack-content > ul > li{
   padding: 10px;
   font-size: 2rem;
   margin-left: 50px;
   line-height: 1.2;
   color: #fff;
}

.food-pack-action{
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow:1px 1px 3px hsla(100, 50%, 0%, 0.75);
}
.food-pack-action >ul{
    list-style-type: none;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.food-pack-action > ul >li{
    width: 250px;
    padding:10px;
    background-color: var(--burnt-orange);
    border-radius: 7px;
    text-align: center;
    margin-block: 10px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.food-pack-action ul li:hover {
  transform: scale(1.09); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.food-pack-action li>a{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    
}

/* Initial hidden state */
.slide-from-left,
.slide-from-right,
.slide-from-bottom {
  opacity: 0;
  transform: translateX(0) translateY(0);
  transition: all 0.8s ease-out;
}

/* Animate from left */
.slide-from-left.in-view {
  transform: translateX(0);
  opacity: 1;
}
.slide-from-left {
  transform: translateX(-100px);
}

/* Animate from right */
.slide-from-right.in-view {
  transform: translateX(0);
  opacity: 1;
}
.slide-from-right {
  transform: translateX(100px);
}

/* Animate from bottom */
.slide-from-bottom.in-view {
  transform: translateY(0);
  opacity: 1;
}
.slide-from-bottom {
  transform: translateY(100px);
}

article{
    width: 100%;
    margin-top: 100px;
    background-color: var(--bg-primary);
}

.model{
    width: 80%;
    margin-inline: auto;
}
.model > h2{
    font-size: 4.5rem;
    color: var(--burnt-orange);
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
.model > p{
    padding: 10px;
    color: #000;
    font-size: 2rem;
}

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 7px;
    font-size: 2rem;
    position: relative;
    margin: 25px 0;
    background: #fff;
    transform-style: preserve-3d;
  transition: transform 0.8s ease;
  transform: rotateY(180deg); /* initial flipped state */
  opacity: 0;
  box-shadow:1px 1px 3px hsla(100, 50%, 0%, 0.75);
}

.card.animate {
    transform: rotateY(0deg);
    opacity: 1;
  }

.card >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card > p{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.metrix {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.metrix h2{
  color: var(--burnt-orange);
  font-size: 4.5rem;
}

.metrix-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 30px;
  margin-bottom: 20px;
}

.metrix-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.metrix-table ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}

.metrix-table li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.challange{
    width: 80%;
    margin-inline: auto;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
    
}

.challange.show {
    opacity: 1;
    transform: translateY(0);
  }
.challange >h2{
    font-size: 4.5rem;
    color: var(--burnt-orange);
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
.challange >p{
    padding: 10px;
    color: #000;
    font-size: 2rem;
}

.challange >ul{
  list-style-type: none;
  width: 80%;
  height: 350px;
  margin-inline: auto;
  border-left: 1px solid var(--bg-secondary);
  border-bottom: 1px solid var(--bg-secondary);
  border-bottom-left-radius: 10px;
  background-color:#ff7034;
}


.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* gap: 20px; */
    /* padding: 10px; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
  }
  
  .carousel li {
    flex: 0 0 80%;
    /* background: var(--bg-light); */
    /* padding: 20px; */
    border-radius: 10px;
    scroll-snap-align: start;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    border-left: 2px solid #000;
    position:relative;
  }

  .carousel li span{
    position: absolute;
    bottom: 10px;
    left:700px;
    font-size: 2rem;
    z-index: 10;
    color: var(--bg-light);
    font-weight: bold;
    text-shadow: 1px 1px 3px hsla(100, 50%, 0%, 0.75);
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .pic-1{
    background-image: url('/foodsurplus/save.png');
    background-size: cover;
    background-position: center;
  }
  .pic-2{
    background-image: url('/foodsurplus/winnings.png');
    background-size: cover;
    background-position: center;
  }
  .pic-3{
    /* background-color: #ccc; */
    background-image: url('/foodsurplus/community.png');
    background-size: cover;
    background-position: center;
  }
  .carousel {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
.challange-action{
    width: 60%;
    margin: 20px auto;
}
.challange-action > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.challange-action ul > li{
    width: 200px;
    background-color: var(--burnt-orange);;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    box-shadow:1px 1px 3px hsla(100, 50%, 0%, 0.75);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.challange-action ul > li:hover{
  transform: scale(1.09); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.challange-action ul > li >a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    
    color: #fff;
}

aside{
  width: 100%;
  background-color: var(--bg-secondary);
}
aside h2{
    font-size: 4.5rem;
    color: var(--burnt-orange);
    text-align: center;
    padding: 10px;
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
aside p{
    font-size: 2rem;
    padding: 10px;
    color: #fff;
}

.shop-wrapper{
    width: 80%;
    margin: 100px auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.shop-img{
    width: 45%;
    height: 500px;
    max-height: 500px;
    margin-left: 25px;
}

.shop-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.shop-content{
    width: 45%;
    margin-right: 25px;
}
.shop-content > h2{
    font-size: 4.5rem;
    padding: 10px;
    color: var(--burnt-orange);
    text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
.shop-content > p{
    font-size: 2rem;
    padding: 10px;
    color: #fff;
}
.shop-content > ul{
    list-style-type: none;
}
.shop-content > ul>h3{
    font-size: 3rem;
    padding: 10px;
    color: var(--bg-light);
}
.shop-content > ul>li{
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    color: #fff;
}

.shop-action{
    width: 60%;
    margin:20px auto;
    background-color: var(--burnt-orange);;
    border-radius: 10px;
    box-shadow:1px 1px 3px hsla(100, 50%, 0%, 0.75);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.shop-action:hover {
  transform: scale(1.09); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.shop-action > button{
    width: 100%;
    padding:10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    border-radius: 10px;
    color:#fff;
}

.ads{
  width: 40%;
  margin: 10px auto;
  height: 1200px;
}

.ads > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section h2{
  text-align: center;
  font-size:4.5rem;
}
.benefits{
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.benefit{
    width: 15%;
    margin-left:10px;
    font-size: 2rem;
}

.join{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:15px;
  justify-content: center;
  width: 100%;
}
.testimonia{
  width: 100%;
   background-color: rgb(44, 7, 7);
  margin-block: 20px;
  color:#fff;
  padding: 20px;
}

.btn{
  width: 300px;
}

.btn button{
  width:100%;
  padding: 10px;
  outline: 0;
}
.testimonia ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
.testimonia H2{
  font-size: 4.5rem;
  color: var(--burnt-orange);
  text-align: center;
  padding: 10px;
  text-shadow:1px -1px 3px hsla(100, 50%, 0%, 0.75);
}
.testimonia ul li{
  width: 45%;
  padding: 100px 25px;
  border: 3px solid var(--burnt-orange);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
    main,
    .food-pack-image,
    .food-pack-theme,
    .cards,
    .challange-action,
    aside,
    .shop-action {
      flex-direction: column;
      width: 90%;
      margin: 50px auto;
      gap: 20px;
      align-items: center;
    }
  
    main > .write-up,
    main > .video-coverage,
    .food-pack-benefit,
    .food-pack-content,
    .shop-img,
    .shop-content {
      width: 100%;
    }
  
    main > .write-up > h2,
    .food-pack-benefit > h2,
    .model > h2,
    .shop-content > h2,
    .challange > h2 {
      font-size: 2.5rem;
      text-align: center;
    }
  
    main > .write-up > p,
    .food-pack-benefit > p,
    .food-pack-content > ul > li,
    .model > p,
    .challange > p,
    .shop-content > p,
    .shop-content > ul > li {
      font-size: 1.5rem;
      /* text-align: center; */
    }
  header img{
      object-fit: cover;
  }
    .food-pack-benefit > ul,
    .food-pack-content > ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .food-pack-benefit{
      margin-left: 0;
    }
    .food-pack-benefit > ul > li{
      width: 100%;
      font-size: 1.5rem;
      margin: 5px 0;
    }
    .line {
      display: none; /* Hide divider on small screens */
    }
    .food-pack-content {
      margin-left: 30px
    }
    .carousel li {
      flex: 0 0 90%; /* Slightly more width on smaller screens */
    }
  
    .card {
      width: 90%;
      height: auto;
    }
  
    .shop-wrapper{
      flex-direction: column;
    }
    .shop-img{
      width: 100%;
      margin-left:0;
      height: 300px;
    }
    .shop-img img{
      object-fit: contain;
    }
    .shop-content{
      text-align: left;
    }
    .shop-content ul h3{
      font-size: 1.8rem;
    }
    .shop-action{
      margin-left: 30px;
    }
    .shop-action > button {
      font-size: 1.2rem;
    }
  
    .challange-action ul,
    .food-pack-action > ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .challange-action ul > li,
    .food-pack-action ul > li {
      width: 100%;
    }
  
    .img {
      width: 250px;
      height: 300px;
    }

    .ads{
      width: 90%;
      object-fit: cover;
    }
  }
  